{% extends '::base.html.twig' %}
{% block body -%}
    <h1>Book creation</h1>
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger alert-dismissible fade in">
            <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <a class="btn btn-default" href="{{ path('lucky_show') }}" role="button">Kembali</a>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.no, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.author, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.language, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.publisher, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.summary, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.brochure, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
