{% extends '::base.html.twig' %}
{% block body -%}
    <div class="container">
    <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        </div>
        <a class="btn btn-primary" href="{{ path('lucky_upload') }}" role="button">Tambah</a>
         <div class="table-responsive">
        <table class="records_list table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>Publisher</th>
                    <th>Summary</th>
                    <th>BROSUR</th>
                    <th>ACTION</th>
                </tr>
                {% for item in entities %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.publisher }}</td>
                        <td>{{ item.summary }}</td>
                        <td>
                            <a href="{{ asset('uploads/pdf/' ~ item.brochure) }}">View brochure (PDF)</a>
                        </td>
                        <td>
                            <a class="btn btn-info"href="{{ path('lucky_edit', { 'id': item.id }) }}" >
                                Edit
                            </a>
                            <a class="btn btn-danger" href="{{ path('lucky_delete', { 'id': item.id }) }}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
         </div>
    </div><!-- /.container -->
{% endblock %}